body{
    background-image: url("home.jpg");
}
a{
    margin: 30px;
    width: 50%;
    color: rgb(215, 49, 49);
    font-size: 200%;
    padding: 10px;
    background-color:rgb(208, 233, 138);
    border-radius: 15px;
    border: 3px solid rgb(230, 208, 110);
}
a:hover{
    background-color:  aqua;
    transition: background-color 0.5s;
}
br{
    margin: 10px;
}
#calculator{
    margin-left: 400px;
}
#weather{
    margin-left:660px;
}